*{
    margin: 0;
    margin-left: 10px;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1565c0;
}

.login-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.logo{
    width: 180px;
    margin-bottom: 20px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 320px;
}

input{
    padding: 14px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
}

input:focus{
    outline: 2px solid #ffffff;
}

#mensagem{
    min-height: 20px;
    text-align: center;
    font-weight: bold;
}

.info-container{
    position: relative;
    display: inline-block;
    bottom: -300px;
    right: 190px;
}

.info-icon{
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: #ffffff;
    color: #1565c0;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

.tooltip{
    position: absolute;
    bottom: 130%;
    left: 50%;
    transform: translateX(-50%);
    width: 250px;
    padding: 10px;
    background-color: rgba(0,0,0,0.85);
    color: white;
    font-size: 14px;
    text-align: center;
    border-radius: 8px;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}

.tooltip::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-width: 6px;
    border-style: solid;
    border-color: rgba(0,0,0,0.85) transparent transparent transparent;
}

.info-container:hover .tooltip{
    opacity: 1;
    visibility: visible;
}

#filtros {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px 0;
}

#filtros label {
    color: var(--cor-click);
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 8px;
}


#filtroCurso{
    width: 320px;
    max-width: 90%;
    padding: 12px 15px;
    font-size: 1rem;
    border: none;
    border-radius: 12px;
    background: white;
    color: #333;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    cursor: pointer;
    transition: all 0.3s ease;
}

#loginForm input{
    margin-left: 18px;
    width: 320px;
    max-width: 90%;
    padding: 12px 15px;
    font-size: 1rem;
    border: none;
    border-radius: 12px;
    background: white;
    color: #333;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    cursor: pointer;
    transition: all 0.3s ease;
}

#loginForm button{
    margin-left: 18px;
    width: 320px;
    max-width: 90%;
    padding: 12px 15px;
    font-size: 1rem;
    border: none;
    border-radius: 12px;
    background: #08306b;
    color: white;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    cursor: pointer;
    transition: all 0.3s ease;
}

#filtroCurso:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 15px rgba(0,0,0,0.25);
}

#filtroCurso:focus {
    outline: none;
    border: 2px solid var(--cor-click);
    box-shadow: 0 0 10px var(--cor-click);
}
